@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color: #c9a15b;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .logo img {
  height: 6rem;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}
.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}
.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: var(--main-color);
}
#menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scale(0);
  transform-origin: top;
}
.header .search-form.active {
  transform: scale(1);
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}
.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}
.header .search-form label:hover {
  color: var(--main-color);
}
.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}
.header .cart-items-container.active {
  right: 0;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}
.header .cart-items-container .cart-item img {
  height: 7rem;
}
.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}
.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/main.avif) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}
.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .box-container .box {
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  border: var(--border);
}
.menu .box-container .box img {
  height: 22rem;
  width: 95%;
}
.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}
.menu .box-container .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}
.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: normal;
  color: #fff;
  background: red;
  border-radius: 5px;
  padding: 2px 5px;
}
.box-container .box:hover {
  background: #1b1b1b;
}
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}
.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}
.products .box-container .box .icons a:hover {
  background: var(--main-color);
}
.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: #fff;
  font-size: 2.5rem;
}
.products .box-container .box .content .starts {
  padding: 1.5rem;
}
.products .box-container .box .content .starts i {
  font-size: 1.7rem;
  color: var(--main-color);
}
.products .box-container .box .content .price {
  color: #fff;
  font-size: 2.5rem;
}
.products .box-container .box .content .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}
.products .box-container .box .image img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.contact {
  background: #000;
  padding: 40px 8%;
  color: #fff;
}

.contact .heading {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
}

.contact .heading span {
  color: var(--main-color); /* gold color */
}

.contact .row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact .map {
  flex: 1 1 45%;
  height: 350px;
  border: none;
}

.contact-form {
  flex: 1 1 45%;
  background: #111;
  padding: 25px;
  border-radius: 10px;
}

.contact-form h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin: 15px 0;
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb;
}

.input-box input {
  width: 100%;
  padding: 12px 45px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.blogs {
  background: #000;
  padding: 40px 8%;
}

.blogs .heading {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}

.blogs .heading span {
  color: var(--main-color);
}

.blogs .box-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.blogs .box-container .box {
  background: #111;
  width: 32%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #222;
}

.blogs .box .image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blogs .box .content {
  padding: 15px;
  color: #fff;
}

.blogs .box .content h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.blogs .box .content span {
  color: var(--main-color);
  font-size: 13px;
}

.blogs .box .content p {
  margin: 10px 0;
  font-size: 14px;
  color: #ccc;
}

footer {
  background: #0f0f0f;
  padding: 40px 0;
  text-align: center;
}

.social a {
  height: 45px;
  width: 45px;
  background: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 18px;
  color: #472f09;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.social :hover {
  color: #d4b27a;
  background: #472f09;
  box-shadow: 0 0 10px rgba(212, 178, 122, 0.7);
  transform: translateY(-1px);
}
.footer-menu {
  list-style: none;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.footer-menu li a {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #444;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.footer-menu li a:hover {
  background: var(--main-color);
  color: #000;
  border-color: var(--main-color);
}

.credit {
  margin-top: 20px;
  color: #bbb;
  font-size: 16px;
}

.credit span {
  color: #d4b27a;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }
  header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
  .blogs .box-container .box {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
